@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-deep-bg-purple: #120226;
  --color-brand-primary-interface-blue: #100a36;
  --color-brand-action-glow-blue: #4a3cc9;
  --color-brand-aura-purple: #2a1673;
  --color-brand-highlight-purple: #a789d6;
  --color-brand-core-white: #ffffff;
  --color-brand-body-gray: #b6b6cc;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

body {
  background-color: var(--color-brand-deep-bg-purple);
  color: var(--color-brand-body-gray);
}
